/* Styles for puzzle cells */
body {
  overflow: hidden;
}

.font {
  font-family: "Comic Sans MS", "Comic Sans";
}

h1 {
  margin: 0;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 71%;
}

.puzzle-cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size: 32pt;
    font-family: sans-serif;
    color: white;
    background-size: 400px 400px;
  }

  /* Styles for movable puzzle piece */
  .movable-piece {
    border-color: red;
    text-decoration: underline;
    color: #006600;
  }

  /* Setting background color for all cells */
  .puzzle-cell[data-value='1'] { background-position: 0 0; }
  .puzzle-cell[data-value='2'] { background-position: -100px 0; }
  .puzzle-cell[data-value='3'] { background-position: -200px 0; }
  .puzzle-cell[data-value='4'] { background-position: -300px 0; }
  .puzzle-cell[data-value='5'] { background-position: 0 -100px; }
  .puzzle-cell[data-value='6'] { background-position: -100px -100px; }
  .puzzle-cell[data-value='7'] { background-position: -200px -100px; }
  .puzzle-cell[data-value='8'] { background-position: -300px -100px; }
  .puzzle-cell[data-value='9'] { background-position: 0 -200px; }
  .puzzle-cell[data-value='10'] { background-position: -100px -200px; }
  .puzzle-cell[data-value='11'] { background-position: -200px -200px; }
  .puzzle-cell[data-value='12'] { background-position: -300px -200px; }
  .puzzle-cell[data-value='13'] { background-position: 0 -300px; }
  .puzzle-cell[data-value='14'] { background-position: -100px -300px; }
  .puzzle-cell[data-value='15'] { background-position: -200px -300px; }

  .validator-links {
    margin-top: 10px;
    margin-left: auto;
  }

  .validator-links img {
    margin-left: 10px;
    max-width: 70px;
    max-height: 70px;
  }